<html>
    <head>
        <title>Tinkergram</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tinkergram</a></h1>
        </div>

        <div>
            <p>published: 11.02.2020, 22:30</p>
            <h2><a href="">Your first post</a></h2>
            <p>Tinkerをよろしくお願い致します。</p>
        </div>

        <div>
            <p>公開日：2020/02/11, 22:36</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>Tinkergramをよろしくお願い致します。</p>
        </div>
        <p>Minato Hmasaka!</p>
        <p>Atsushi Shimizu!</p>
        <p>Naoshi Nomoto!</p>
        <p>Tateyama Kakeru!</p>
        <p>Omae Ryousuke!</p>
        <p>Mastunaga Syouto!</p>
    </body>
</html>